// $body_background_color: #080707b0;
$body_background_color: rgb(51, 51, 51);
$main_background_color: hsla(222, 24%, 8%, 0.663);
$hover_color: rgb(178, 178, 178);
$header_color: #10131a;
$box_shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.8);
